{{ $caption := .Get 0 }}
{{ $url := .Get 1 }}
{{ $rows := getCSV "," $url }}
{{ $headerRow := index $rows 0 }}
{{ $rows = after 1 $rows }}

<script>
function myFunction() {
  var searchBar = document.getElementById("tableSearchBar");
  var rows = document.getElementById("mySearchableTable").rows;
  var queryWords = searchBar.value.split(' ').map(function (word) { 
    return word.toLowerCase(); 
  })
  for (var i=1; i < rows.length; i++) {
    var content = rows[i].innerText.toLowerCase();
    var containsAll = queryWords.every(function (word) { 
      return content.includes(word); 
    })
    if (containsAll) {
      rows[i].hidden = false;
    }
    else {
      rows[i].hidden = true;
    }
  }
}
</script>

Search: <input id="tableSearchBar" type="text" oninput="myFunction()"></input>

<table id="mySearchableTable">
  <caption>{{ $caption }}</caption>
  <tr> {{ range $headerRow }} <th style="background-color: #f1f1f1 !important; border: 1px solid #5b616b !important; font-weight: 600">{{ . }}</th> {{ end }} </tr>
  {{ range $rows }}
    <tr>
      {{ range . }}
        <td>{{ . }}</td>
      {{ end }}
    </tr>
  {{ end }}
</table>
